
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(./img/snakeskin1.jpg) repeat;
	font-family: sans-serif;
}


header {
	background: white;
	opacity: .85;
	padding: 15px;
}

#gameinfo {
	background: #ccc;
	opacity: .85;
	border: 1px solid red;

	padding: 15px;
}


#gameStats {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	font-family: monospace;
	font-size: 2em;
}



#playarea {
	border: 3px solid #777;
	margin: 30px auto;
	position: relative;
}


.cell {
	position: absolute;
	/* display: inline-block;  */
	background: #ccc;
	margin: 0;
}



.cell-empty {
	background: #ccc;
}

.cell-snake {
	background: red;
}

.cell-food {
	background: green;
}