
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(./img/snakeskin1.jpg) repeat;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}


header {
	background: white;
	opacity: .85;
	padding: 15px;
}

#gameinfo {
	position: relative;
	background: #ccc;
	opacity: .85;
	border: 1px solid red;

	padding: 15px;
}


#gameStats {
	position: absolute;
	width: 400px;
	height: 120px;
	top: 20px;
	right: 15px;
	margin: 0 auto;
	border: 1px solid blue;
	text-align: center;
	border-radius: 7px;
	background: white;
}

fieldset {
	border: none;
}

#optionCheckboxes {
	margin: 15px 15px 0;
	text-align: left;
}


.bigBold {
	font-family: monospace;
	font-size: 2em;
}


#playarea {
	border: 3px solid #777;
	margin: 50px auto;
	position: relative;
}


.cell {
	position: absolute;
	/* display: inline-block;  */
	background: #ccc;
	margin: 0;
}



.cell-empty {
	background: #ccc;
}

.cell-snake {
	background: red;
}

.cell-food {
	background: green;
}

.shadow {
	-webkit-box-shadow: 3px 3px 6px 3px #2f2205;
	box-shadow: 3px 3px 6px 3px #2f2205; 
}
